.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	flex: 1 0 auto;
	/*overflow: hidden;*/
}
.footer {
	flex: 0 0 auto;
}
.clear, .clear-fix, .clear_fix {
    clear: both;
}
body {
    font-size: 18px;
    font-weight: 400;
    color: #303030;
    font-family: 'Futura PT', sans-serif;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased !important;
	line-height: normal;
	position: relative;
    margin: 0 auto;
    max-width: 1920px;
}
@media (max-width: 991px) {
	body {
		font-size: 16px;
	}
}
input:active, input:focus, option:focus,
option:active, button:active, button:focus, 
select:active, select:focus, .btn.focus, .btn:focus, textarea:focus {
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
input {
	font-family: 'Open Sans', sans-serif
}
button::-moz-focus-inner {
  border: 0 !important;
}
section {
	padding: 50px 0;
}
a {
	color: #303030;
}
a:hover {
	color: #303030;
	text-decoration: none;
}
a:focus, a:hover {
    color: #303030;
    text-decoration: none;
    outline: none;
}
a.btnbg:focus {
    color: #fff;
}
strong {
	font-weight: 700;
}
h1, .h1 {
    font-size: 2.8rem;
    margin: 10px auto;
    width: 100%;
    text-transform: none;
    text-align: left;
    font-weight: 700;
    line-height: 40px;
}
h2 {
	font-size: 2.5rem;
    line-height: 100%;
    display: block;
    width: 100%;
    font-weight: 600;
    color: #2d64a3;
}
.h3, h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2d64a3;
}
.h4, h4 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600 !important;
}
@media (max-width: 991px) {
	h2 {
		font-size: 2.3rem;
	}
	h3, .h3 {
		font-size: 1.3rem;
	}
}
@media (max-width: 767px) {
	.h3, h3 {
	    font-size: 1.1rem;
	}
	h2 {
		font-size: 2rem;
		margin: 10px 0;
		width: 100%;
	}
	h1, .h1 {
		font-size: 2rem;
		margin: 10px 0;
		line-height: normal;
	}
	section {
		padding: 25px 0;
	}
}
@media (max-width: 479px) {
	.h3, h3 {
	    font-size: 1.1rem;
	}
	h2 {
		font-size: 2rem;
		margin: 10px 0;
	    word-wrap: break-word;
	    text-align: center;
	}
	h1, .h1 {
		font-size: 1.7rem;
		margin: 10px 0 20px;
		word-break: break-word;
	}
	section {
		padding: 25px 0;
	}
}
small {
	font-weight: 400;
}
.rub {
    font-family: 'rub';
    margin-top: -4px;
}
.btn {
    cursor: pointer;
    transition: all .3s;
    padding: 10px 20px;
    color: #fff;
    white-space: normal;
    background: none;
    border-radius: 0;
    max-width: 100%;
    font-weight: 600;
    border: solid 3px #ffa800;
}
.btn:hover {
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
}
.btn_black {
	color: #303030;
}
.btn_black:hover {
	background: #ffa800;
	color: #303030;
}
.btn.disabled, .btn:disabled {
	opacity: 1;
	filter: grayscale(100%);
	cursor: no-drop;
}
.rotate180 {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.rub {
    font-family: 'rub';
    margin-top: -4px;
}
::-webkit-input-placeholder       {font-size: 0.9rem; color: #303030; opacity: 0.8; transition: opacity 0.5s ease;}
::-moz-placeholder                {font-size: 0.9rem; color: #303030; opacity: 0.8; transition: opacity 0.5s ease;}
:-moz-placeholder                 {font-size: 0.9rem; color: #303030; opacity: 0.8; transition: opacity 0.5s ease;}
:-ms-input-placeholder            {font-size: 0.9rem; color: #303030; opacity: 0.8; transition: opacity 0.5s ease;}
:focus::-webkit-input-placeholder {opacity: 0.15; transition: all 0.5s ease;}
:focus::-moz-placeholder          {opacity: 0.15; transition: all 0.5s ease;}
:focus:-moz-placeholder           {opacity: 0.15; transition: all 0.5s ease;}
:focus:-ms-input-placeholder      {opacity: 0.15; transition: all 0.5s ease;}

header {
	padding: 30px 0 0px;
	background: #2c64a3 url("header_bg.jpg") no-repeat;
	background-position: 50%;
	background-size: cover;
}
.logo_wrap img {
	max-width: 100%;
}
.region_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.reg_select {
	color: #fff;
	cursor: pointer;
	position: relative;
	font-size: 1.1rem;
}
.reg_select i {
	font-size: 0.7rem;
	margin-left: 5px;	
}
.tooltip-inner {
    padding: 3px 8px;
    background: #fff;
    text-align: center;
    color: #303030;
    border-radius: 0.2rem;
    opacity: 1; 
}
.tooltip .arrow:before {
	border-bottom-color:#fff !important;
	border-top-color:#fff !important;
}
.select_pop {
	position: absolute;
	background: #fff;
	width: 200px;
	margin-left: -15px;
	padding: 10px 0;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    transform: rotate(-190deg) scale(0.1);    
    transition: all .5s;
	border: solid 3px #ffa800;
	opacity: 0;
	z-index: -10;
}
.fil_select .select_pop {
	transform: rotate(190deg) scale(0.1); 
}
.select_pop a {
	color: #303030 !important;
	padding: 5px 15px;
	display: block;
	transition: all .3s;	
}
.select_pop a:hover {
	background: #eee;
}
.reg_open {
	opacity: 1;
	z-index: 10;
	transform: scale(1);
}
.fil_select .reg_open {
	transform: scale(1);
}
.header_adres {
	color: #fff;
	text-align: center;
	font-size: 0.9rem;
	font-style: italic;
	line-height: 15px;
	font-weight: 300;
}
.header_adres img {
	margin-bottom: 5px;
}
.header_phone {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}
.header_phone a {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 700;
}
@media (max-width: 1199px) {
	.logo_wrap {
		order: 1;
	}
	.header_adres {
		order: 4;		
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		margin-top: -35px;
		font-style: normal;
		z-index: 0;
	}
	.header_adres img {
		margin-right: 15px;
		height: 30px;
		width: auto;
	}
	.header_phone {
		order: 3;
		align-items: flex-start;
	}
	.region_wrap {
		order: 2;
		z-index: 1;
	}
}
@media (max-width: 991px) {
	.logo_wrap {
		order: 1;
	}
	.header_adres {
		order: 4;
		justify-content: flex-end;
		margin-top: 0px;
		margin-top: 10px;
		align-items: center;
	}
	.header_phone {
		order: 2;
		align-items: center;
		justify-content: flex-end;
	}
	.region_wrap {
		order: 3;
		margin-top: 10px;
	}
}
@media (max-width: 575px) {
	.logo_wrap {
		order: 1;
		text-align: center;
	}
	.header_adres {
		order: 3;
		justify-content: center;
		margin-top: 5px;
		align-items: center;
	}
	.header_phone {
		order: 2;
		align-items: center;
		justify-content: center;
		margin-top: 5px;
	}
	.header_phone a {
		font-weight: 500;
	}
	.region_wrap {
		order: 4;
		margin-top: 10px;
		justify-content: center;
	}
	.city_wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.reg_select {
		margin: 0 10px;
	}
}
@media (max-width: 375px) {
	.select_pop {
		width: auto;
	}
}
.slid_it_txt {
	padding: 50px 0 50px 60px;
    color: #fff;
    font-size: 3.8rem;
    width: 85%;
    font-weight: 600;
    line-height: 70px;
    overflow: hidden;
}
.star_bord {
    background-image: url("star.png");
    background-position: 2px bottom;
    background-size: 30px;
    background-repeat: repeat-x;
    text-shadow: 2px 2px 0 #b2242c;
    padding-bottom: 4px;
    /*background: url(../img/wave_bg.png) repeat-x;
    background-position: 0 bottom;*/
}
.slid_it_txt .small {
	font-size: 2.6rem;
	font-weight: 600;
}
.slid_it_txt .extra_small {
	font-size: 2.2rem;
	font-weight: 400;
	color: #ffb329;
	text-shadow: none;
	padding-bottom: 8px;
	background-size: 23px;
	margin-top: 10px;

}
.slider_wrap {
	margin-top: 15px;
	padding: 10px 0;
	background: url("slider_bg_new_border.png") no-repeat;
	background-position: center bottom;
	min-height: 480px;
}
.text_slider [data-animation-in] {
    opacity: 0;
}
@media (max-width: 991px) {
	.slid_it_txt {
		width: 100%;
		font-size: 3.2rem;
		padding: 50px 0 50px 0px;
	}
	.star_bord {
		background-position: 2px bottom;
	}
}
@media (max-width: 767px) {
	.slid_it_txt {
		font-size: 2.5rem;
		line-height: normal;
		text-shadow: 0px 0px 43px rgba(0, 0, 0, 0.66);
	}
	.slider_wrap {
		min-height: auto;
		padding-bottom: 100px;
	}
}
@media (max-width: 575px) {
	.slid_it_txt {
		font-size: 2.5rem;
		text-align: center;
	}
}
.slick-dots {
	text-align: left;
}
.slick-dots li button:before {
	font-size: 10px;
	color: #fff;
	opacity: 0.8;
}
.slick-dots li.slick-active button:before {
	color: #ffa800;	
}
.menu_wrap {
	padding: 35px 0;
}
.menu ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 -3px;
}
.menu li a {
	padding: 3px;
	font-size: 1.3rem;
	font-weight: 600;
	color: #2c64a3 !important;
	border-bottom: solid 3px #ffa800;
	transition: all .3s;
	margin: 5px;
    display: block;
    cursor: pointer;
}
.menu li a:hover {
	border-bottom: solid 3px #b2242c;
}
.h2_txt_bl {
    line-height: 20px;
    margin-top: 30px;
}
.h2_txt_bl i {
	color: #949494;
}
.h2_txt_bl li {
	margin: 3px 0;
}
.img_rot_wrap {
	align-items: flex-start;
	position: relative;
	display: flex;
}
.img_rot {
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height: 350px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	transform: rotate(-7deg);
	z-index: 2;
}
.img_fon {
	content: '';
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 5px;
	left: 5px;
	background: #ffa800;
	z-index: 0;
	transform: rotate(-15deg);
}
.intens_wrap {
	align-items: center;
}
#intensiv {	
	position: relative;
	z-index: 2;
	padding-bottom: 0;
	overflow: hidden;
}
.big_word {
	position: relative;
	width: 100%;
}
.back_words {
	position: relative;
	width: 100%;
}
.back_words:after {	
    font-size: 12rem;
    line-height: 160px;
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    z-index: -1;
    color: rgba(44, 100, 163, 0.09);
    text-align: center;
    overflow: hidden;
}
#intensiv .back_words:after {
	content: 'What is Intensity?';
}
#intensiv .container {
	padding-bottom: 30px;
}
#red {
	background: #b2242c;
	position: relative;
	z-index: 1;
	margin-top: -0px;
    padding: 0px 0 120px;
    overflow: hidden;
}
.red_flag {
	background: url("intens_bg_flag.png") no-repeat;
	background-position: center 0%;
	height: 400px;
	width: 100%;
	position: absolute;
}
#red h2 {
	text-align: center;
	color: #fff;
	padding-top: 120px;
}
#red small {
	color: #fff;
	text-align: center;
	width: 100%;
	font-weight: 300;
	display: block;
	font-size: 1rem;
}
.icons_1row {
	justify-content: space-between;
	margin-top: 60px;
}
.ico_wrap {
	text-align: center;
}
.ico_wrap img {
	width: 100px;
	height: auto;
}
.ico_txt {
	color: #fff;
	font-weight: 300;
	margin-top: 15px;
}
.icons_2row {
	margin-top: 60px;
}
.icons_line {
	position: absolute;
	height: 400px;
	width: 100%;
	border: solid 2px #000;
	z-index: 0;
}
#red .container {
	position: relative;
}
.icons_line {
	position: absolute;
    height: 1015px;
    top: -410px;
    width: 850px;
    left: 145px;
    border: solid 2px #880c0f;
    z-index: -1;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}
.intens_img {
	margin-left: 80px;
}
@media (max-width: 1199px) {
	.icons_line {
		height: 1020px;
	    top: -410px;
	    width: 695px;
	    left: 130px;
	}
	.img_fon {
		top: 40px;
    	bottom: 40px;
	}
	.intens_img {
		margin-left: 20px;
	}
}
@media (max-width: 991px) {
	.icons_line {
		display: none;
	}
	.intens_img {
		margin: 40px 0;
	}
	.intens_img .img_fon {
	    right: 110px;
	    left: 110px;
	    top: 15px;
	    bottom: 15px;
	}
	.img_rot {
		width: 70%;
	}
}
@media (max-width: 767px) {	
	.img_rot {
		transform: rotate(0deg);
		width: 100%;
	}
	.intens_img {
		margin: 20px 0;
	}
	.intens_img .img_fon {
	    right: 105px;
	    left: 105px;
	    top: 15px;
	    bottom: 15px;
	    transform: rotate(-8deg);
	}
}
@media (max-width: 575px) {
	.img_fon {
		display: none;
	}
	.icons_2row {
		margin: 0;
	}
	.ico_wrap {
		margin: 10px 0;
	}
	#intensiv .container {
		padding-bottom: 0;
	}
}
.red_btn {
	margin-top: 50px;
	text-align: center;
}
#info_block .intens_wrap img {
	padding: 0 30px;
}
#info_block .intens_wrap .col-lg-7 {
	padding: 0 30px;
}
.info1.back_words:after {
	content: 'Knowledge level';
}
.info2.back_words:after {
	content: 'Effective methodology';
}
#info_block .intens_wrap {
	margin: 50px 0;
}
#info_block {
    padding: 130px 0 40px 0;
	position: relative;
	margin-top: -125px;
    z-index: 2;
}
#info_block:before {
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("form_bot_bg_revers.png") no-repeat;
    background-position: center top;
    z-index: 0;
}
#girl_form {
	background: #dcdfe2;
	position: relative;
	padding-bottom: 20px;
}
#girl_form:before {
	content: '';
	position: absolute;
	top: -2px;
	bottom: 0;
	right: 0px;
	left: 0;
	background: url("form_top_bg.png") no-repeat;
	background-position: center top;
	z-index: 0;
}
#girl_form:after {
	content: '';
    position: absolute;
    top: auto;
    bottom: -2px;
    right: 0px;
    left: 0;
    height: 100px;
    background: url("form_bot_bg.png") no-repeat;
    background-position: center bottom;
    z-index: 0;
}
.form_left {
	padding: 80px 15px 100px;
}
.form_left h3 {
	width: 70%;
	font-weight: 700;
	font-size: 1.7rem;
}
.form_left .to_h3 {
	width: 80%;
}
.girl_form_wrap form {
	margin-top: 30px;
}
form input {
    padding: 12px 20px;
    border: solid 1px #a0bfe6;
    transition: all 0.3s;
    width: 100%;
}
form input[type="text"]:focus {
	border: solid 1px #2f63a3;
}
form select {
	padding: 12px 20px;
    border: solid 1px #a0bfe6;
    transition: all 0.3s;
    width: 100%;
}
.girl_form_wrap .col-md-6 {
	margin: 5px 0;
}
.girl_form_wrap option, .girl_form_wrap select {
	font-weight: 400;
	font-size: 1rem;
}
.girl_form_bnt {
	background: #ffa800;
	font-weight: 600;
	color: #303030;
	width: 100%;
	border: none;
	cursor: pointer;
	padding: 12px 20px;
}
.girl_form_bnt:hover {
	background: #e69904;
	color: #303030;
}
.girl_img {
	text-align: right;
}
.girl_img img {
    height: auto;
    width: 100%;
    margin-top: 0px;
}
/* Скрываем реальный чекбокс */
.checkbox {
	display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;
    width: 17px;
    height: 17px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    margin-right: 3px;
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
	content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #2c64a3 url("checkbox.png") no-repeat;
    background-position: center;
    border-radius: 2px;
}
.lab_confid {
	margin-left: 15px;
	margin-top: 15px;
	font-weight: 400;
	font-size: 0.8rem;
}
.lab_confid small {
	font-size: 0.8rem;
	font-weight: 400;
	cursor: pointer;
}
.lab_confid a {
	margin-left: 24px;
}
.info1 {
	padding: 30px 0;
}
.info1_img {
    margin-right: 20px;
}
.info1_img .img_rot {
    transform: rotate(7deg);
    height: 300px;
    width: 100%;
}
.info1_img .img_fon {
    transform: rotate(13deg);
}
.info2_img {
	margin-top: -40px;
}
#nav_menu_ico {
	display: none;
}
@media (max-width: 1199px) {
	.girl_img img {
		margin-top: 0;
	}
}
@media (max-width: 991px) {
	#info_block {
		padding-bottom: 0;
	}
	.info1_img, .info2_img {
        width: 100%;
    	padding: 0;
    	margin: 30px auto 30px;
	}
	.info1 .intens_wrap {
		flex-direction: column-reverse;
	}
	#info_block .back_words .img_rot {
		transform: rotate(0deg);
	}
	#info_block .img_rot_wrap .img_fon {
		display: none;
	}
	#info_block .intens_wrap {
	    margin: 0px -15px;
	}
	#info_block .intens_wrap .col-lg-7 {
	    padding: 0 15px;
	}
	.girl_img img {
		display: none;
	}
	.menu_wrap {
		padding: 0;
	}
	.menu {
		position: fixed;
		top: 0;
		left: -55%;
		height: 100%;
		width: 50%;
	    background: rgba(45, 100, 163, 0.97);
		z-index: 999;
		transition: all 0.4s;
	}
	.menu ul {
	    align-items: center;
	    height: 100%;
	    flex-direction: column;
	    justify-content: center;
	}
	.menu li {
		display: block;
		width: 100%;
	}
	.menu li a {
		display: block;
		width: 100%;
		color: #fff !important;
		border: none;
		padding: 5px 20px;
		text-align: center;
	}
	.menu li a:hover {
		border-bottom: none;
	}
	#nav_menu_ico {
		display: block;
		z-index: 1000;
		position: fixed;
		top: 0px;
		left: 0px;		
    	background: rgba(255, 255, 255, 0.5);
		overflow: hidden;
		padding: 25px;
		border: none;
		border-radius: 0;
		cursor: pointer;
	}
}
@media (max-width: 767px) {
	.form_left h3 {
		width: 100%;
	}
	.form_left .to_h3 {
		width: 100%;
	}
	form input, form select  {
		width: 100%;
		margin: 5px 0;
	}
	.form_left {
		padding: 80px 15px;
	}
}
@media (max-width: 575px) {
	.form_left h3, .form_left .to_h3 {
		text-align: center;
	}
	.menu {
		left: -105%;
		width: 100%;
	}
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 23px;
  left: 7px;
  right: 0px;
  height: 2px;
  background: #303030;
  width: 35px;
  border-radius: 2px;
  text-align: center;
} 
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #303030;
  content: "";
  border-radius: 2px;;
} 
.cmn-toggle-switch span::before {
  top: -10px;
} 
.cmn-toggle-switch span::after {
  bottom: -10px;
}
.cmn-toggle-switch__htx {
  background-color: t;
} 
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
} 
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
} 
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
} 
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
} 
/* active state*/
.cmn-toggle-switch__htx.active {
  background-color: transparent;
} 
.cmn-toggle-switch__htx.active span {
  background: none;
} 
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
} 
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
} 
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}
.openrespmenu {
	left: 0 !important;
}
.scroll_fix {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(45, 100, 163, 0.9);
    z-index: 999;
}
.scroll_fix ul {
	margin: 0 auto;
}
.scroll_fix ul li a {
	color: #fff !important;
	border: none;
	font-weight: 400;
	transition: all 0s;
}
.scroll_fix ul li a:hover {
	border: none;
	opacity: 0.5;
}
#prepod {
	padding-top: 60px;
}
.prepod_wrap {
	margin-top: 30px;
}
.prepod_wrap .col-md-6 {
	text-align: center;
	margin: 50px 0;
}
.prepod_txt {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 20px;
}
.prepod1 img {
	width: 60%;
	transform: rotate(7deg);
}
.prepod1 .prepod_txt {
    color: #e8ac38;
    transform: rotate(7deg);
    margin-top: 12px;
    text-align: left;
    padding-left: 20%;
}
.prepod2 img {
	width: 60%;
	transform: rotate(-5deg);
	margin-top: -50px;
}
.prepod2 .prepod_txt {
    color: #2c64a2;
    transform: rotate(-5deg);
    margin-top: 12px;
}
.prepod3 img {
	width: 65%;
	transform: rotate(-3deg);
	margin-top: 10px;
}
.prepod3 .prepod_txt {
    color: #2c64a2;
    transform: rotate(-3deg);
    margin-top: 12px;
}
.prepod4 img {
	width: 60%;
	transform: rotate(7deg);
}
.prepod4 .prepod_txt {
    color: #e8ac38;
    transform: rotate(7deg);
    margin-top: 12px;
    text-align: left;
    padding-left: 20%;
}
#prepod h2 {
	margin-bottom: 40px; 
}
#prepod .back_words:after {
	content: 'Teachers of the school';
}
#price {
	background: #2c64a3 url("header_bg.jpg") no-repeat;
	background-position: 50%;
	background-size: cover;
	position: relative;
	padding: 120px 0;
	z-index: 3;
}
#price:before {
	content: '';
	position: absolute;
	top: -2px;
	bottom: 0;
	right: 0px;
	left: 0;
	background: url("form_top_bg.png") no-repeat;
	background-position: center top;
	z-index: 2;
}
#price:after {
	content: '';
    position: absolute;
    top: auto;
    bottom: -2px;
    right: 0px;
    left: 0;
    height: 100px;
    background: url("form_bot_bg.png") no-repeat;
    background-position: center bottom;
    z-index: 2;
}
#price h2 {
	color: #fff;
}
#price .h2_i {
	text-align: center;
	color: #fff;
	font-weight: 300;
	width: 100;
	display: block;
	letter-spacing: 1px;
}
#price .container {
	position: relative;
	z-index: 2;
}
#price .h2_i img {
	width: 20px;
	margin-right: 15px;
}
.price_wrap {
	margin: 30px 0 50px !important;
}
.price_it {
	padding: 40px 25px;
	transition: all 1s;
}
.price_it .price_it_in {
	background: #fff;
	padding: 30px 30px 40px;
	text-align: center;
	min-height: 480px;
}
.price_title {
	padding: 3px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #2c64a3;
    border-bottom: solid 3px #ffa800;
    transition: all .3s;
    margin: 5px;
    display: inline-block;
    margin-bottom: 30px;
}
.price_it ul {
	list-style: none;
	padding: 0;
	margin-bottom: 30px;
}
.old_price {
	font-size: 1rem;
	margin: 10px 0;
	position: relative;
	display: inline-block;
}
.old_price:after {
	content: '';
    height: 1px;
    width: 120%;
    position: absolute;
    top: 50%;
    left: -10%;
    background: #b2252c;
    transform: rotate(-15deg);
}
.price_price {
	color: #2d64a3;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.price_price .rub {
	font-weight: 400;
	font-size: 1.4rem;
}
.price_btn {
	color: #2d64a3;
	font-size: 1.1rem;
	margin-top: 20px;
	transform: rotate(3deg);
}
.price_btn:hover {
	background: #b2242c;
}
.price_it[data-slick-index="1"] .price_it_in {
	outline: solid 5px #b2242c;
	transform: scale(1.1);
}
.price_it[data-slick-index="1"] .price_btn {
	transform: rotate(-3deg);
	border-color: #b2252c;
}
/*.price_it[aria-hidden="true"] {
	opacity: 0;
}*/
.price_wrap .slick-dots {
	text-align: center;
}
@media (max-width: 991px) {
	.price_it[data-slick-index="1"] .price_it_in {
		outline: none;
		transform: scale(1);
	}
	.price_it[data-slick-index="1"] .price_btn {
		transform: rotate(3deg);
		border-color: #ffa800;
	}
}
.snoska {
	color: #fff;
	text-align: center;
	font-style: italic;
	font-weight: 500;
    font-size: 1.5rem;
}
.snoska sup {
	font-size: 1.5rem;
	top: 0;
}
.big_flag {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("big_flag.png") no-repeat;
    background-position: center top;
    z-index: 1;	
}
#otz .h2_i {
	text-align: center;
	display: block;
	width: 100%;
}
.video_wrap {
	margin-top: 70px;
}
.youtube {
	height: 250px;
	width: 100%;
	z-index: 2;
}
.img_rot_wrap iframe {
	height: 300px;
	width: 100%;
	z-index: 2;
	border: none;
}
.vid_it .img_rot_wrap {
	position: relative;
	width: 450px;
}
.you1 .youtube {
    transform: rotate(5deg);
}
.you1 .img_fon {
    transform: rotate(-7deg);
    background: #2c64a3;
}
.you2 {
	float: right;
}
.you2 .youtube {
    transform: rotate(-3deg);
}
.you2 .img_fon {
    transform: rotate(7deg);
    background: #ffa800;
}
.youtube .play {
	background-position: center !important;
	background-size: contain !important;
	height: 40px !important;
	width: 100px !important;
    margin-left: -48px !important;
    margin-top: -18px !important;
}
.otz_title {
	width: 80%;
	text-align: center;
	margin-top: 40px;
    font-weight: 800;
    color: #2c64a3;
}
.otz_title2 {
	float: right;
}
.otz_txt_wrap {
	padding: 50px;
	background: #eee;
	position: relative;
}
.otz_sl_it {
	display: flex !important;
	justify-content: space-between;
	margin: 0 20px;
}
.otz_photo {
	height: 190px;
	width: 15%;
	background-position: 50% !important;
	background-size: cover !important;
}
.otz_text {
	width: 80%;
	font-size: 1rem;
}
.otz_nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
.otz_prev {
	position: absolute;
	z-index: 2;
	margin-top: -22px;
	left: -70px;
	cursor: pointer;
}
.otz_prev:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ffa800;
	z-index: -1;
	transform: rotate(-5deg);
	transition: all 0.3s;
}
.otz_prev:before {
	background: #2c64a3;
	padding: 12px 17px;
	color: #fff;
	transform: rotate(15deg);
	transition: all 0.3s;
}
.otz_prev:hover:before {
	transform: rotate(0deg);
}
.otz_prev:hover:after {
	transform: rotate(0deg);
}
.otz_next {
	position: absolute;	
	z-index: 2;
	margin-top: -22px;
	right: -70px;
	cursor: pointer;
}
.otz_next:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ffa800;
	z-index: -1;
	transform: rotate(5deg);
	transition: all 0.3s;
}
.otz_next:before {
	background: #2c64a3;
	padding: 12px 17px;
	color: #fff;
	transform: rotate(-15deg);
	transition: all 0.3s;
}
.otz_next:hover:before {
	transform: rotate(0deg);
}
.otz_next:hover:after {
	transform: rotate(0deg);
}
.otz_txt_title {
	color: #2c64a3;
	font-weight: 600;
	font-size: 1.1rem;
	line-height: normal;
}
.otz_txt_intro {
	color: #ffa800;
	font-weight: 600;
	font-size: 0.9rem;
	margin: -3px 0 10px;
}
@media (max-width: 1199px) {
	.vid_it .img_rot_wrap {
		width: 90%;
	}
	.vid_it .img_rot_wrap .img_fon {
		top: 10px;
		bottom: 10px;
	}
}
@media (max-width: 991px) {
	.vid_it .img_rot_wrap {
		width: 100%;
		transform: rotate(0deg);
		height: 250px;
	}
	.vid_it .img_rot_wrap .youtube {
		transform: rotate(0deg);
		height: 100%;
	}
	.otz_photo {
		width: 25%;
	}
	.otz_text {
		width: 70%;
	}
}
@media (max-width: 767px) {
	.vid_it .img_rot_wrap .img_fon {
		display: none;
	}
	.otz_title {
		width: 100%;
		margin-top: 5px;
	}
	.vid_it {
		margin-bottom: 25px;
	}
	.video_wrap {
		margin-top: 30px;
	}
	.otz_sl_it {
		flex-wrap: wrap;
	}
	.otz_photo {
		width: 200px;
		margin: 0 auto 15px;
	}
	.otz_text {
		width: 100%;
	}
}
@media (max-width: 575px) {
	.otz_txt_wrap {
		padding: 30px;
	}
	.otz_slider .slick-dots {
		text-align: center;
		bottom: -40px;
	}
	.otz_nav {
		display: none;
	}
	.otz_text {
		text-align: center;
	}
}
.width_60 {
	width: 60%;
	margin: 0 auto;
}
.pref_form_wrap {
	justify-content: center;
}
.pref_form {
	margin-top: 15px;
}
.pref_form .lab_confid {
	width: 100%;
	text-align: center;
	margin-left: 0;
}
.pref_form_wrap input {
	max-width: 100%;
}
.footer {
	padding: 120px 0 250px;
    background: #2c64a3 url("header_bg.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}
.footer_wrap {
	position: relative;
	z-index: 3;
}
.footer:before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("form_top_bg.png") no-repeat;
    background-position: center top;
    z-index: 2;
}
.footer:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("phone_cabine_footer.png") no-repeat;
    background-position: center bottom;
    z-index: 0;
}
.footer .select_pop a {
	font-size: 0.9rem;
}
.footer .container {
	position: relative;
}
.malevich {
	position: absolute;
    z-index: 2;
    right: 15px;
    bottom: -230px;
}
.popup_window  {
	width: 500px;
    min-width: 300px;
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
}
.popup_window input {
	width: 100%;
	margin: 5px 0;
}
.popup_window textarea {
	width: 100%;
	margin: 5px 0;
    padding: 12px 20px;
    border: solid 1px #a0bfe6;
    transition: all 0.3s
}
.fil_tit {
	min-width: 150px;
    display: inline-block;
    text-align: right;
}
.dop_price {
	margin-top: 20px;
	font-size: 1rem;
	text-decoration: underline;
	display: inline-block;
	padding: 10px;
}
#suc_modal {
    padding: 25px 50px 25px 30px;
}
#validator, #validator2 {
    display: none;
}
@media (max-width: 1400px) {
	.slider_wrap {
		background: url("slider_bg_1400.png") no-repeat;
    	background-position: center bottom;
	}
}
@media (max-width: 767px) {
	.slider_wrap {
		background: url("slider_bg_mobile.png") no-repeat;
    	background-position: center 100%;
	}
}
.pref_form_wrap .col-md-3 {
	margin: 10px 0;
}
.girl_form_wrap .lab_confid {
	margin: 0;
}
.new_slider {
	display: none;
}


